@import '../../variables';

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    input {
        height: 2rem;
        width: 80%;
        padding: 0 10px;
        border-radius: 4px 0 0 4px;
        border: solid #cdcdcd 1px;

        &:focus {
            outline:0px;
        }

        @media screen and (min-width: $break-small) {
            width: 60%;
        }

        @media screen and (min-width: $break-medium) {
            width: 30%;
        }
       
    }
    img {
        width: 2rem;
        padding: 0.5rem;
        background-color: $search-icon-color;
        border-radius: 0 4px 4px 0; 
        
    }

}