/*********** Media Query **********/

$break-small: 768px;
$break-medium: 992px;

/********* Color Style *********/

$character-background: #e8e8e8;
$character-shadow: 3px 2px 12px #d8d8d8;
$search-icon-color:  #ff619e;